@model IEnumerable<ZadatakImplementacijaAAA.Models.Proizvod>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Dodaj proizvod", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proizvođač)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dobavljač)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kategorija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proizvođač)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dobavljač)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cena)
                </td>
                <td>
                    @Html.ActionLink("Izmeni", "Edit", new { id = item })
                </td>
            </tr>

        }

    }

</table>



